<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singup </title>
    <style>
       form {
        border : 1px solid black;
        padding: 20px;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        gap:20px;
       }
       input {
        padding: 15px;
        font-size: 25 px;
        border-radius: 4px;
       }
       button{
        padding: 15 px;
        border-radius: 5 px;
        font-size: 25px;
       }

    </style>
</head>
<body>
     <form method="POST" action="/user/signup">
        <input type="email" name="email" placeholder="enter your email" required>
        <input type="text" name="username" placeholder="enter your username" required>
        <input type="password" name="password" placeholder="enter your password" required>
        <button type="submit">Submit</button>
     </form>
</body>
</html>